@import "../styles/main.scss";
.order {
  padding: 2rem;
  text-align: center;
  background-color: $beigeLight-color;
  width: 929px;
  margin: 0 auto;
  h3 {
    margin-top: 0.5rem;
  }
  span {
    background-color: $green-color;
    color: white;
    padding: 0.25rem 0.5rem;
  }
}