.back {
  padding: 1rem;
  align-items: center;
  color: inherit;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  p {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    text-transform: uppercase;
  }
}