@import "../styles/main.scss";
.notFound {
  min-height: calc(100vh - 130px - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $chocolate-color;
  img {
    width: 200px;
    margin-right: 2rem;
  }
  h1 {
    text-align: center;
    font-size: 4rem;
  }
}
