@import "../styles/main.scss";
.emptyCart {
  padding: 2rem;
  text-align: center;
  //background-color: #f5f5f5;
  width: 929px;
  margin: 0 auto;
  img{
    width: 300px;
  }
  p{
    margin-top: 1rem;
  }
}